
html {
  font-family: 'Droid Sans', sans-serif;
}

#container {
  height: auto;
  background-color: rgb(240, 240, 240);
}

#aboutme h2, #projects h2, #contactme h2 {
  color: black;
}

header {
  font-family: 'Lato', sans-serif;
  height: 500px;
  text-align: center;
  padding-top: 150px;
  font-size: 64pt;
  color: white;

}

header .text {
  font-weight: 100;

}

header .bigtext {
  font-weight: 700;

}

header a, header a:hover, header a:active {
  color: white;
}
#content {
  height: auto;
  padding-left: 150px;
  padding-top: 20px;
  padding-right: 150px;
}

#projects,  #contactme, #maincontent {
  margin-top: 100px;
  margin-bottom: 100px;
  color: black;
  font-size: 12pt;
}

#aboutme {
  margin-top: 40px;
  margin-bottom: 100px;
  color: black;
  font-size: 12pt;
}

body {
  background-image: url("../images/header.jpg");
  background-size: cover;
}
.list{
  font-size: 18pt;
  text-align: center;
  list-style: none;
  margin: 0;
}

.list li {
  display: inline;
}

.list li a {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.list li a:hover {
  color: rgb(119, 222, 255);
}

.list li .active {
  color: rgb(119, 222, 255);
}

#menu {
  height: 50px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
}
footer {
  padding-top: 10px;
  height: 60px;
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  font-size: 16pt;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
}
.profilelist {

  padding-left: 20px;
}

.profilelist li {
  list-style: none;
  margin-left: 50px;
}

.resimage {
  margin-left: 50px;
  width: 300px;
  height: 300px;
}
