extends layout

block content
  body
    header
      a(href="/")
        span.bigtext Tyler
        span.text Holland
    div#container
      div#menu
        ul.list
          li
            a.active(href="about") About Me
          li
            a(href="projects") Projects
          li
            a(href="contact") Contact Me
      div#content
        div#aboutme
          div.row
            div.large-6.columns
              ul.profilelist
                img.resimage(src="/images/swifttaytays.jpg")
                li
                  i.fa.fa-envelope.fa-2x
                  a.abouttext(href="mailto:me@tylerholland.geek.nz") me@tylerholland.geek.nz
                li
                  i.fa.fa-map-marker.fa-2x 
                  a.abouttext(href="https://www.google.co.nz/maps/place/Christchurch/@-43.5131367,172.5990772,11z/data=!3m1!4b1!4m2!3m1!1s0x6d322f4863c5ed01:0x500ef8684799945?hl=en") Christchurch, New Zealand
                li
                  i.fa.fa-twitter.fa-2x
                  a.abouttext(href="https://twitter.com/LinuxBiscuit") Twitter
                li
                  i.fa.fa-facebook.fa-2x
                  a.abouttext(href="https://www.facebook.com/linuxbiscuit") Facebook
            div.large-6.columns
              ul.tabs(data-tab)
                li.tab-title.active
                  a(href="#whoami") Who am I?
                li.tab-title
                  a(href="#interests") Interests
                li.tab-title
                  a(href="#work") Work
              div.tabs-content
                div.content.active#whoami
                  p I am currently a first year University of Canterbury student studing Computer Science. I usually play a lot of video games. As of recently I have been programming a lot more than gaming. Not just because I have to, but because it's more enjoyable.
                div.content#interests
                  p I enjoy programming a whole bunch from stuff like web developement to game development. I mess around in linux a whole lot as well, it's fun. I used to play a lot of games but I've done my best to stay away from them while studying and so far its worked out well.
                div.content#work
                  p At the moment I have work in a typical retail setting just stacking and packing stuff. I like working on projects and it definitely beats packing stuff, I work on my own projects in my 'spare' time like music, game dev and web dev. You can check that stuff out on the projects page if you want.
                
      block footer
        footer Copyright &copy; 2015 Tyler Holland
    
