//- ******************************************
//- **  Tyler Holland  -  Personal Website  **
//- **  index.jade     -  August 2015       **
//- ******************************************

extends layout

block content
  body
    header
      span.bigtext Tyler
      span.text Holland
    div#container
      div#menu
        ul.list
          li
            a(href="about") About Me
          li
            a(href="projects") Projects
          li
            a(href="contact") Contact Me
      div#content
        div#maincontent
          h1.center Hey!
          p.center The site is finally live! If you would like know about me or my projects you've come to the right place. Have fun!
      block footer
        footer Copyright &copy; 2015 Tyler Holland
          p Running Nodejs with Jade and Your Mother
        
  
