doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    meta(name="keywords" content="")
    meta(name-"author" content="")
    
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans|Lato:100,300,400,700,900|Open+Sans:400,300|Roboto', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/stylesheets/foundation.css") 
    link(rel="stylesheet", href="/stylesheets/custom.css")
    
    
    script(type="text/javascript", src="/javascripts/vendor/modernizr.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery.min.js")
    script(type="text/javascript", src="/javascripts/foundation.min.js")
    
    block title
      title #{title}
  block content  
    body
    block footer
      footer Copyright &copy; 2015 Tyler Holland
script $(document).foundation();
