extends layout

block title
  title Projects
block content
  body.projectheader
    header
      a(href="/")
        span.bigtext Tyler
        span.text Holland
    div#container
      div#menu
        ul.list
          li
            a(href="about") About Me
          li
            a(href="projects") Projects
          li
            a(href="contact") Contact Me
      div#content
        div#projects
          h2 Projects
          div.projectblock
            div.projecttext Web Development Projects
            img(src="/images/webdev.png")
          div.projectblock
            div.projecttext Game Development Projects
            img(src="/images/webdev.png")
          div.projectblock
            div.projecttext Music Projects
            img(src="/images/gameboy.png")

      block footer
        footer Copyright &copy; 2016 Tyler Holland
