extends layout

block content
  body.projectheader
    header
      a(href="/")
        span.bigtext Tyler
        span.text Holland
    div#container
      div#menu
        ul.list
          li
            a(href="about") About Me
          li
            a.active(href="projects") Projects
          li
            a(href="contact") Contact Me
      div#content
        div#projects
          h2 Projects
          div.projectblock
            a.projecttext(href="https://github.com/MadPix3l") Web Development Projects
            img(src="/images/webdev.png")
          div.projectblock
            a.projecttext(href="https://github.com/MadPix3l") Game Development Projects
            img(src="/images/webdev.png")
          div.projectblock
            a.projecttext(href="https://github.com/MadPix3l") Music Projects
            img(src="/images/gameboy.png")
            
      block footer
        footer Copyright &copy; 2015 Tyler Holland
          p Running Nodejs with Jade and Your Mother
        
