
html {
  font-family: 'Droid Sans', sans-serif;
}

#container {
  height: auto;
  background-color: rgb(240, 240, 240);
}

#aboutme h2, #projects h2, #contactme h2 {
  text-align: center;
}

header {
  font-family: 'Lato', sans-serif;
  height: 500px;
  text-align: center;
  padding-top: 150px;
  font-size: 64pt;
  color: white;

}

header .text {
  font-weight: 100;

}

header .bigtext {
  font-weight: 700;

}

header a, header a:active {
  color: white;
}

header a:hover {
  transition: all 0.3s ease;
  color: white;
  text-shadow: 0px 1px 5px rgb(255, 255, 255,);
}
#content {
  height: auto;
  padding-left: 150px;
  padding-top: 20px;
  padding-right: 150px;
}

#projects,  #contactme, #maincontent {
  margin-top: 100px;
  margin-bottom: 100px;
  color: black;
  font-size: 12pt;
}

#projects {
  margin: 0 auto;
  color: black;
  font-size: 12pt;
}
#aboutme {
  margin-top: 40px;
  margin-bottom: 100px;
  color: black;
  font-size: 12pt;
}

#contactme p{
    text-align: center;
}
body {
  background-image: url("../images/header.jpg");
  background-size: cover;
}

.projectheader {
  background-image: url("../images/projectheader.jpg");
  background-size: cover;
}

.list{
  font-size: 18pt;
  text-align: center;
  list-style: none;
  margin: 0;
}

.list li {
  display: inline;
}

.list li a {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.list li a:hover {
  color: rgb(119, 222, 255);
  transition: all 0.3s ease;
}

.list li .active {
  color: rgb(119, 222, 255);
}

#menu {
  height: 50px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
}
footer {
  padding-top: 10px;
  height: 60px;
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  font-size: 16pt;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
}
.profilelist {
  margin: 0;
  padding-left: 70px;
}

.profilelist li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;

}


i {
  width: 42px;
  text-align: center;
}

.resimage {
  width: 300px;
  height: 300px;
  padding-bottom: 5px;
}
.tabs .tab-title a {
  background-color: white;
  padding: 8px;
  transition: all 0.6s ease;

}

.tabs .tab-title a:hover {
  color: rgb(119, 222, 255);
  background-color: white;
  transition: all 0.6s ease;

}

.contact {
  width: 100%;
  border-radius: 2px;
  background-color: rgba(0, 50, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 50, 0, 0.8);
  border-width: 0;
}
.contact:hover {
  background-color: rgba(0, 125, 50, 1);
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.tab-title {
  width: 33.33%;
  text-align: center;

}
.tabs {
  padding: 2px;
  background-color: white;
}

.tabs .tab-title.active a {
  color: rgb(119, 222, 255);
  background-color: white;
  transition: all 0.6s ease;
}
.abouttext {
  padding-left: 12px;
}

.projectblock {
  margin: 30px auto;
  width: 1000px;
  height: 600px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.35);
}

.projectblock img {
  width: 1000px;
  height: 600px;
}

.projecttext {
  margin-top: 550px;
  font-size: 20pt;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  display: block;
  width: inherit;
  height: 50px;
  padding-left: 20px;
  padding-top: 5px;
}

a {
  outline: none;
}
/*lol*/
